* {
	padding: 0;
	margin: 0;
	font-family: Segoe UI, sans-serif;

	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

body {
	min-height: 100vh;
}

.grid-form {
	display: grid;
	grid-template-columns: 2fr 2fr;
	padding: 5px;
	gap: 8px;
}

.grid-form button {
	margin-top: 5px;
	grid-column-start: 1;
	grid-column-end: 3;
}

.grid-form #error-text {
	color: red;
}
